header{
    background-color: #78FFAE;
}



*{
    margin: 0;
    padding: 0;
}

body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
}

.cabecalho {
    background-color: #78FFAE ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho.imagem{
width:10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola{
    background-color: linear-gradient(#78FFAE,#7df490);
    display: flex;
    padding: 24xp 0;
}
.escola-titulo{
    padding: 24xp 0;
}
